<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <% if @user.microposts.any? %>
    <%= form_tag(users_path, :method => "get") do %>
      <%= text_field_tag :search, params[:search] %>
      <%= hidden_field_tag :id, params[:id] %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
  <% end %>

  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Reviews (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
