<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :rating, id: :movie_rating %>
  <div class="field">
    <div id='star-rating'></div>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    
    
    <%= f.label :year %>
    <%= f.text_field :year, class: 'form-control', placeholder: "YYYY" %>
    <%= f.label :month %>
    <%= f.text_field :month, class: 'form-control', placeholder: "MM" %>
    <%= f.label :date %>
    <%= f.text_field :date, class: 'form-control', placeholder: "DD" %>
    
    <%= f.label :theater %>
    <%= f.text_field :theater, class: 'form-control' %>
    
    <%= f.label :comment %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script>
$('#star-rating').raty({
path: '/images/',
click: function(score, e) {
$("#movie_rating").val(score)
}
});

</script>
